<style>
/* change cover_img in config.yml */
.jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}

.jumbotron-heading, .lead {
  color: #fff;
}
</style>

<!-- home hero section -->
<div class="jumbotron">
  <img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" />
  <h1 class="jumbotron-heading">Hi, I am {{site.author}} !</h1>

  <p class="lead" id="typewriteText"></p>
  
  <!-- uncomment/modify buttons as you want-->
  <div class="jumbotron-btns">
    <a href="{{site.url}}/contact">
      <button class="btn btn-md btn-warning"> <strong>Let's Talk</strong> </button>
    </a>
    <a href="{{site.url}}/about">
      <button class="btn btn-md btn-default"> <strong>View Portfolio</strong> </button>
     </a>
  </div>

</div>
<div class="jumbotron">
  <H2 class="jumbotron-heading">Let's talk skillset ⌨️</H2>


</div>
